<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Website blog penyedia informasi tentang kebersihan Lingkungan"
    />
    <link rel="icon" href="public/favicon.png" />
    <script
      src="https://kit.fontawesome.com/df1b96af65.js"
      crossorigin="anonymous"
    ></script>

    <title>Cleanviro</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#"
          ><img
            src="public/Cleanviro.svg"
            alt="Brand Logo"
            class="nav__logo brand-logo"
        /></a>
        <ul class="nav__menu">
          <li><a href="#/Home" class="nav__menu__item">Home</a></li>
          <li>
            <a href="#/Information" class="nav__menu__item">Information</a>
          </li>
          <li><a href="#/Blog" class="nav__menu__item">Blog</a></li>
          <li><a href="#/ContactUs" class="nav__menu__item">Contact Us</a></li>
        </ul>
        <ul>
          <li>
            <button type="button"><i class="fa-solid fa-bullhorn"></i></button>
          </li>
          <li>
            <a href="#/Blogmark"><i class="fa-regular fa-bookmark"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <section id="home">
        <article id="hero">
          <div class="hero__container">
            <h2>Bersih Lingkunganku, <span>Sehat Hidupku</span></h2>
            <p>
              Menjaga kebersihan lingkungan adalah tanggung jawab bersama yang
              berkontribusi langsung pada kesehatan dan kesejahteraan individu.
              Lingkungan yang bersih membantu mencegah penyakit dan memberikan
              rasa nyaman serta tenang, sehingga mendukung kesehatan fisik dan
              mental. Dengan menjaga kebersihan lingkungan sekitar, baik itu
              rumah, tempat kerja, maupun tempat umum, kita menciptakan kondisi
              hidup yang lebih sehat dan berkualitas, yang pada akhirnya
              meningkatkan kesejahteraan hidup secara keseluruhan.
            </p>
            <a href="#/Home/Detail" class="hero__btn-click-more">Check More</a>
          </div>
        </article>
        <article id="detail">
          <div class="detail__container">
            <h2>Berkenalan dengan Cleanviro</h2>
            <div class="detail__box-area">
              <div class="detail__box-item">
                <div class="detail__logo__container">
                  <i class="fa-solid fa-info"></i>
                </div>
                <div class="detail__information__container">
                  <h3 class="information__title">Information</h3>
                  <p class="information__description">
                    Informasi tentang website Cleanviro dan Pengetahuan umum
                    tentang menjaga kebersihan lingkungan sekitar
                  </p>
                  <a href="#/Information"
                    ><i class="fa-solid fa-arrow-right-to-bracket"></i
                  ></a>
                </div>
              </div>
              <div class="detail__box-item">
                <div class="detail__logo__container">
                  <i class="fa-solid fa-info"></i>
                </div>
                <div class="detail__information__container">
                  <h3 class="information__title">Blog</h3>
                  <p class="information__description">
                    Anda dapat melihat informasi terkini tentang kebersihan
                    lingkungan di Indonesia. Dan tidak hanya tentang laporan
                    kebersihan melainkan ada tips dan trick cara menjaga
                    kebersihan lingkungan sekitar kita
                  </p>
                  <a href="#/Information"
                    ><i class="fa-solid fa-arrow-right-to-bracket"></i
                  ></a>
                </div>
              </div>
              <div class="detail__box-item">
                <div class="detail__logo__container">
                  <i class="fa-solid fa-info"></i>
                </div>
                <div class="detail__information__container">
                  <h3 class="information__title">Contact Us</h3>
                  <p class="information__description">
                    Anda dapat melaporkan situasi lingkungan sekitar anda dan
                    hal tersebut akan disalurkan ke pihak berwenang. Mari
                    bergabung menjaga kebersihan lingkungan sekitar kita agar
                    sehat dan asri selalu
                  </p>
                  <a href="#/Information"
                    ><i class="fa-solid fa-arrow-right-to-bracket"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer__nav">
        <img
          src="public/Cleanviro.svg"
          alt="Brand Logo"
          class="footer__nav__logo brand-logo"
        />
        <ul class="footer__nav__menu">
          <li><a href="#/Home" class="nav__menu__item">Home</a></li>
          <li>
            <a href="#/Information" class="nav__menu__item">Information</a>
          </li>
          <li><a href="#/Blog" class="nav__menu__item">Blog</a></li>
          <li><a href="#/ContactUs" class="nav__menu__item">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer__copyright">
        <p>&copy; 2024 Irly Fizaharis</p>
      </div>
    </footer>
  </body>
</html>
