<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Website blog penyedia informasi tentang kebersihan Lingkungan"
    />
    <link rel="icon" href="public/favicon.png" />
    <script
      src="https://kit.fontawesome.com/df1b96af65.js"
      crossorigin="anonymous"
    ></script>

    <title>Cleanviro</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#"
          ><img
            src="public/Cleanviro.svg"
            alt="Brand Logo"
            class="nav__logo brand-logo"
        /></a>
        <ul class="nav__menu">
          <li><a href="#/Home" class="nav__menu__item">Home</a></li>
          <li>
            <a href="#/Information" class="nav__menu__item">Information</a>
          </li>
          <li><a href="#/Blog" class="nav__menu__item">Blog</a></li>
          <li><a href="#/ContactUs" class="nav__menu__item">Contact Us</a></li>
        </ul>
        <ul>
          <li>
            <button type="button"><i class="fa-solid fa-bullhorn"></i></button>
          </li>
          <li>
            <a href="#/Blogmark"><i class="fa-regular fa-bookmark"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <section id="contactus">
        <div class="contactus__container">
          <h2>Contact Us</h2>
          <p>
            Anda dapat melaporkan situasi lingkungan sekitar anda dan hal tersebut
            akan disalurkan ke pihak berwenang. Mari bergabung menjaga kebersihan
            lingkungan sekitar kita agar sehat dan asri selalu
          </p>
          <form>
            <div class="input-field">
              <input type="text" id="input__full-name" required>
              <label for="full-name">Masukan Nama Lengkap</label>
            </div>
            <div class="input-field">
              <input type="text" id="input__phone-number" required>
              <label for="full-phone-number">Masukan Nomer Telepon</label>
            </div>
            <div class="input-field">
              <input type="text" id="input__email" required>
              <label for="full-email">Masukan Email</label>
            </div>
            <div class="input-field">
              <textarea type="text" id="input__message" required></textarea>
              <label for="full-message">Masukan Pesan</label>
            </div>
            <input type="button" value="Submit" class="input__submit">
          </form>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer__nav">
        <img
          src="public/Cleanviro.svg"
          alt="Brand Logo"
          class="footer__nav__logo brand-logo"
        />
        <ul class="footer__nav__menu">
          <li><a href="#/Home" class="nav__menu__item">Home</a></li>
          <li>
            <a href="#/Information" class="nav__menu__item">Information</a>
          </li>
          <li><a href="#/Blog" class="nav__menu__item">Blog</a></li>
          <li><a href="#/ContactUs" class="nav__menu__item">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer__copyright">
        <p>&copy; 2024 Irly Fizaharis</p>
      </div>
    </footer>
  </body>
</html>
